@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Manrope', sans-serif; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ecf2f8; }

main {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  background: white;
  border-radius: 10px; }
  main .hero-image {
    width: 100%;
    height: 170px;
    background: url(/images/drawers.jpg) no-repeat;
    background-size: 100% 200px;
    border-radius: 10px 10px 0 0; }
  main section {
    padding-top: 30px; }
    main section h1 {
      font-size: 14px;
      color: #48556a;
      font-weight: 700;
      line-height: 1.5;
      padding-left: 18px;
      padding-right: 25px; }
    main section p {
      margin-top: 20px;
      color: #6d7f97;
      font-size: 13px;
      line-height: 1.5;
      padding-left: 18px;
      padding-right: 25px; }
    main section footer {
      margin-top: 30px; }
      main section footer .overlay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 15px 25px 20px 18px;
        height: 60px;
        background: #48556a;
        border-radius: 0 0 10px 10px; }
        main section footer .overlay .share-text {
          color: #9eafc2;
          font-size: 11px;
          letter-spacing: 4px; }
        main section footer .overlay .icons {
          margin-right: 50px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 80px; }
        main section footer .overlay .share-icon {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #6d7f97; }
          main section footer .overlay .share-icon svg {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -75%);
            width: 13px;
            height: 13px; }
            main section footer .overlay .share-icon svg path {
              fill: white; }
      main section footer .visible {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding-left: 18px;
        padding-right: 25px; }
        main section footer .visible img {
          width: 40px;
          height: 40px;
          border-radius: 50%; }
        main section footer .visible .user-details {
          display: flex;
          flex-direction: column;
          margin-right: 40px; }
          main section footer .visible .user-details h2 {
            font-size: 12px;
            color: #48556a; }
          main section footer .visible .user-details h3 {
            font-size: 10px;
            margin-top: 5px;
            color: #9eafc2; }
        main section footer .visible .share-icon {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #ecf2f8 url(/images/icon-share.svg) no-repeat center;
          background-size: 13px 13px; }
      main section footer .hide {
        display: none; }

@media (min-width: 768px) {
  main {
    width: 600px;
    flex-direction: row;
    margin: 10px; }
    main .hero-image {
      width: 100%;
      height: 290px;
      background: url(/images/drawers.jpg) no-repeat;
      background-size: 270px 300px;
      border-radius: 10px 0px 0 10px; }
    main section h1 {
      font-size: 20px;
      padding-left: 20px;
      padding-right: 0px; }
    main section p {
      padding-left: 20px;
      padding-right: 19px; }
    main section footer .overlay {
      justify-content: space-between;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(80%, 20%);
      padding: 15px 10px 20px 20px;
      height: 50px;
      width: 200px;
      border-radius: 10px; }
      main section footer .overlay .icons {
        margin-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80px; }
      main section footer .overlay .share-icon {
        position: absolute;
        top: 150%;
        left: 43%; }
      main section footer .overlay::after {
        position: absolute;
        content: "";
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        width: 25px;
        height: 10px;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #48556a; }
    main section footer .visible {
      padding-left: 18px;
      padding-right: 25px; }
      main section footer .visible .user-details {
        margin-right: 120px; }
    main section footer .erase {
      visibility: hidden; } }

/*# sourceMappingURL=style.css.map */
